//[app](../../../index.md)/[com.qwict.studyplanetandroid.domain.validator](../index.md)/[ValidationResult](index.md)/[ValidationResult](-validation-result.md)

# ValidationResult

[androidJvm]\
constructor(successful: [Boolean](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-boolean/index.html), errorMessage: [String](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-string/index.html) = &quot;&quot;)
